/* src/components/EcuadorFlag.css */

.ecuador-flag {
    width: 300px;
    height: 200px;
    position: relative;
  }
  
  .stripe {
    height: 33.33%;
    width: 100%;
    position: absolute;
  }
  
  .stripe-yellow {
    background-color: yellow;
    top: 0;
  }
  
  .stripe-blue {
    background-color: blue;
    top: 33.33%;
  }
  
  .stripe-red {
    background-color: red;
    top: 66.66%;
  }
  
  .clicked-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  